{
  "order": 0,
  "template": "eclairage_public",
  "settings": {
    "index": {
      "number_of_shards": 1,
	  "number_of_replicas": 0
    }
  },
  "mappings": {
    "eclairage_public": {
      "properties": {
        "location": {
          "type": "geo_point"
        }
      }
    }
  },
  "aliases": {}
}