{
  "order": 0,
  "template": "resultats_electoraux",
  "settings": {
    "index": {
      "number_of_shards": "4"
    }
  },
  "mappings": {
    "resultats_electoraux": {
      "properties": {
        "location": {
          "type": "geo_point"
        }
      }
    }
  },
  "aliases": {}
}