{
  "order": 0,
  "template": "sirene*",
  "settings": {
    "index": {
      "analysis": {
        "filter": {
          "french_stop": {
            "type": "stop",
            "stopwords": "_french_"
          },
          "french_stemmer": {
            "type": "stemmer",
            "language": "french"
          },
          "french_elision": {
            "type": "elision",
            "articles": [
              "l",
              "m",
              "t",
              "qu",
              "n",
              "s",
              "j",
              "d",
              "c",
              "jusqu",
              "quoiqu",
              "lorsqu",
              "puisqu"
            ],
            "articles_case": "true"
          }
        },
        "analyzer": {
          "french_analyzer": {
            "filter": [
              "french_elision",
              "icu_folding",
              "french_stop",
              "french_stemmer"
            ],
            "tokenizer": "icu_tokenizer"
          }
        }
      },
      "number_of_shards": "4",
      "number_of_replicas": "0"
    }
  },
  "mappings": {
    "sirene": {
      "properties": {
        "Identifiant de l'entreprise": {
          "type": "keyword"
        },
        "Numéro interne de classement de l'établissement": {
          "type": "keyword"
        },
        "Première ligne de l’adressage de l’établissement": {
          "type": "keyword",
		  "fields": {
            "french_analyzer": {
              "fielddata": true,
              "type": "text",
              "analyzer": "french_analyzer"
			}
		  }
        },
        "Deuxième ligne de l’adressage de l’établissement": {
          "type": "keyword",
		  "fields": {
            "french_analyzer": {
              "fielddata": true,
              "type": "text",
              "analyzer": "french_analyzer"
			}
		  }
        },
        "Troisième ligne de l’adressage de l’établissement": {
          "type": "keyword",
		  "fields": {
            "french_analyzer": {
              "fielddata": true,
              "type": "text",
              "analyzer": "french_analyzer"
			}
		  }
        },
        "Quatrième ligne de l’adressage de l’établissement": {
          "type": "keyword",
		  "fields": {
            "french_analyzer": {
              "fielddata": true,
              "type": "text",
              "analyzer": "french_analyzer"
			}
		  }
        },
        "Cinquième ligne de l’adressage de l’établissement": {
          "type": "keyword",
		  "fields": {
            "french_analyzer": {
              "fielddata": true,
              "type": "text",
              "analyzer": "french_analyzer"
			}
		  }
        },
        "Sixième ligne de l’adressage de l’établissement": {
          "type": "keyword",
		  "fields": {
            "french_analyzer": {
              "fielddata": true,
              "type": "text",
              "analyzer": "french_analyzer"
			}
		  }
        },
        "Septième ligne de l’adressage de l’établissement": {
          "type": "keyword",
		  "fields": {
            "french_analyzer": {
              "fielddata": true,
              "type": "text",
              "analyzer": "french_analyzer"
			}
		  }
        },
        "Première ligne de l’adressage déclaré pour l’établissement": {
          "type": "keyword",
		  "fields": {
            "french_analyzer": {
              "fielddata": true,
              "type": "text",
              "analyzer": "french_analyzer"
			}
		  }
        },
        "Deuxième ligne de l’adressage déclaré pour l’établissement": {
          "type": "keyword",
		  "fields": {
            "french_analyzer": {
              "fielddata": true,
              "type": "text",
              "analyzer": "french_analyzer"
			}
		  }
        },
        "Troisième ligne de l’adressage déclaré pour l’établissement": {
          "type": "keyword",
		  "fields": {
            "french_analyzer": {
              "fielddata": true,
              "type": "text",
              "analyzer": "french_analyzer"
			}
		  }
        },
        "Quatrième ligne de l’adressage déclaré pour l’établissement": {
          "type": "keyword",
		  "fields": {
            "french_analyzer": {
              "fielddata": true,
              "type": "text",
              "analyzer": "french_analyzer"
			}
		  }
        },
        "Cinquième ligne de l’adressage déclaré pour l’établissement": {
          "type": "keyword",
		  "fields": {
            "french_analyzer": {
              "fielddata": true,
              "type": "text",
              "analyzer": "french_analyzer"
			}
		  }
        },
        "Sixième ligne de l’adressage déclaré pour l’établissement": {
          "type": "keyword",
		  "fields": {
            "french_analyzer": {
              "fielddata": true,
              "type": "text",
              "analyzer": "french_analyzer"
			}
		  }
        },
        "Septième ligne de l’adressage déclaré pour l’établissement": {
          "type": "keyword",
		  "fields": {
            "french_analyzer": {
              "fielddata": true,
              "type": "text",
              "analyzer": "french_analyzer"
			}
		  }
        },
        "Numéro dans la voie": {
          "type": "keyword"
        },
        "Indice de répétition": {
          "type": "keyword"
        },
        "Type de voie de localisation de l'établissement": {
          "type": "keyword"
        },
        "Libellé de voie de localisation de l'établissement": {
          "type": "keyword",
		  "fields": {
            "french_analyzer": {
              "fielddata": true,
              "type": "text",
              "analyzer": "french_analyzer"
			}
		  }
        },
        "Code postal": {
          "type": "keyword"
        },
        "Code CEDEX": {
          "type": "keyword"
        },
        "Région de localisation de l'établissement": {
          "type": "keyword"
        },
        "Département de localisation de l'établissement": {
          "type": "keyword"
        },
        "Arrondissement de localisation de l'établissement": {
          "type": "keyword"
        },
        "Canton de localisation de l'établissement": {
          "type": "keyword"
        },
        "Commune de localisation de l'établissement": {
          "type": "keyword"
        },
        "Libellé de la commune de localisation de l'établissement": {
          "type": "keyword"
        },
        "Département de l'unité urbaine de la localisation de l'établissement": {
          "type": "keyword"
        },
        "Taille de l'unité urbaine": {
          "type": "keyword"
        },
        "Numéro de l'unité urbaine": {
          "type": "keyword"
        },
        "Localisation de l'établissement dans un établissement public de coopération intercommunale": {
          "type": "keyword"
        },
        "Tranche de commune détaillée": {
          "type": "keyword"
        },
        "Zone d'emploi": {
          "type": "keyword"
        },
        "Qualité de siège ou non de l'établissement": {
          "type": "keyword"
        },
        "Enseigne ou nom de l'exploitation": {
          "type": "keyword",
		  "fields": {
            "french_analyzer": {
              "fielddata": true,
              "type": "text",
              "analyzer": "french_analyzer"
			}
		  }
        },
        "Indicateur du champ du publipostage": {
          "type": "keyword"
        },
        "Statut de diffusion de l'établissement": {
          "type": "keyword"
        },
        "Année et mois d'introduction de l'établissement dans la base de diffusion": {
          "type": "date"
        },
        "Nature de l'établissement d'un entrepreneur individuel": {
          "type": "keyword"
        },
        "Libellé de la nature de l'établissement": {
          "type": "keyword"
        },
        "Activité principale de l'établissement": {
          "type": "keyword"
        },
        "Libellé de l'activité principale de l'établissement": {
          "type": "keyword"
        },
        "Année de validité de l'activité principale de l'établissement": {
          "type": "date"
        },
        "Tranche d'effectif salarié de l'établissement": {
          "type": "keyword"
        },
        "Libellé de la tranche d'effectif de l'établissement": {
          "type": "keyword"
        },
        "Effectif salarié de l'établissement à la centaine près": {
          "type": "keyword"
        },
        "Année de validité de l'effectif salarié de l'établissement": {
          "type": "date"
        },
        "Origine de la création de l'établissement": {
          "type": "keyword"
        },
        "Année et mois de création de l'établissement": {
          "type": "date"
        },
        "Date de début d’activité": {
          "type": "date"
        },
        "Nature de l'activité de l'établissement": {
          "type": "keyword"
        },
        "Lieu de l'activité de l'établissement": {
          "type": "keyword"
        },
        "Type de magasin": {
          "type": "keyword"
        },
        "Caractère saisonnier ou non de l'activité de l'établissement": {
          "type": "keyword"
        },
        "Modalité de l'activité principale de l'établissement": {
          "type": "keyword"
        },
        "Caractère productif de l'établissement": {
          "type": "keyword"
        },
        "Participation particulière à la production de l'établissement": {
          "type": "keyword"
        },
        "Caractère auxiliaire de l'activité de l'établissement": {
          "type": "keyword"
        },
        "Nom ou raison sociale de l'entreprise": {
          "type": "keyword",
		  "fields": {
            "french_analyzer": {
              "fielddata": true,
              "type": "text",
              "analyzer": "french_analyzer"
			}
		  }
        },
        "Sigle de l'entreprise": {
          "type": "keyword"
        },
        "Nom de naissance": {
          "type": "keyword",
		  "fields": {
            "french_analyzer": {
              "fielddata": true,
              "type": "text",
              "analyzer": "french_analyzer"
			}
		  }
        },
        "Prénom": {
          "type": "keyword",
		  "fields": {
            "french_analyzer": {
              "fielddata": true,
              "type": "text",
              "analyzer": "french_analyzer"
			}
		  }
        },
        "Civilité des entrepreneurs individuels": {
          "type": "keyword"
        },
        "Numéro d’identification au répertoire national des associations": {
          "type": "keyword"
        },
        "Numéro interne de classement de l'établissement siège": {
          "type": "keyword"
        },
        "Région de localisation du siège de l'entreprise": {
          "type": "keyword"
        },
        "Département et commune de localisation du siège de l'entreprise": {
          "type": "keyword"
        },
        "Adresse mail": {
          "type": "keyword"
        },
        "Nature juridique de l'entreprise": {
          "type": "keyword"
        },
        "Libellé de la nature juridique": {
          "type": "keyword"
        },
        "Activité principale de l'entreprise": {
          "type": "keyword"
        },
        "Libellé de l'activité principale de l'entreprise": {
          "type": "keyword"
        },
        "Année de validité de l'activité principale de l'entreprise": {
          "type": "date"
        },
        "Activité principale au registre des métiers": {
          "type": "keyword"
        },
        "Appartenance au champ de l’économie sociale et solidaire": {
          "type": "keyword"
        },
        "Date ESS": {
          "type": "date"
        },
        "Tranche d'effectif salarié de l'entreprise": {
          "type": "keyword"
        },
        "Libellé de la tranche d'effectif de l'entreprise": {
          "type": "keyword"
        },
        "Effectif salarié de l'entreprise à la centaine près": {
          "type": "keyword"
        },
        "Année de validité de l'effectif salarié de l'entreprise": {
          "type": "date"
        },
        "Catégorie d'entreprise": {
          "type": "keyword"
        },
        "Date de création de l'entreprise": {
          "type": "date"
        },
        "Année et mois d'introduction de l'entreprise dans la base de diffusion": {
          "type": "date"
        },
        "Indice de monoactivité de l'entreprise": {
          "type": "keyword"
        },
        "Modalité de l'activité principale de l'entreprise": {
          "type": "keyword"
        },
        "Caractère productif de l'entreprise": {
          "type": "keyword"
        },
        "Année de validité des rubriques de niveau entreprise en provenance de l'ESA": {
          "type": "date"
        },
        "Tranche de chiffre d'affaires pour les entreprises enquêtées par l'ESA": {
          "type": "keyword"
        },
        "Activité principale de l'entreprise issue de l'ESA": {
          "type": "keyword"
        },
        "Première activité secondaire déclarée dans l'ESA": {
          "type": "keyword"
        },
        "Deuxième activité secondaire déclarée dans l'ESA": {
          "type": "keyword"
        },
        "Troisième activité secondaire déclarée dans l'ESA": {
          "type": "keyword"
        },
        "Quatrième activité secondaire déclarée dans l'ESA": {
          "type": "keyword"
        },
        "Nature de la mise à jour (création, suppression, modification)": {
          "type": "keyword"
        },
        "Indicateur de mise à jour n1": {
          "type": "keyword"
        },
        "Indicateur de mise à jour n2": {
          "type": "keyword"
        },
        "Indicateur de mise à jour n3": {
          "type": "keyword"
        },
        "Date de traitement de la mise à jour": {
          "type": "date"
        },
        "SIRET": {
          "type": "keyword"
        },
        "Libellé de la taille de l'unité urbaine": {
          "type": "keyword"
        },
        "Libellé de l'activité principale de l'entreprise issue de l'ESA": {
          "type": "keyword"
        },
        "Libellé de l'indice de monoactivité de l'entreprise": {
          "type": "keyword"
        },
        "Libellé de l'origine de la création de l'établissement": {
          "type": "keyword"
        },
        "Libellé de la tranche de chiffre d'affaires pour les entreprises enquêtées par l'ESA": {
          "type": "keyword"
        },
        "Libellé de la nature de l'activité de l'établissement": {
          "type": "keyword"
        },
        "Libellé de la modalité de l'activité principale de l'établissement": {
          "type": "keyword"
        },
        "Libellé du type de magasin": {
          "type": "keyword"
        },
        "Libellé de la participation particulière à la production de l'établissement": {
          "type": "keyword"
        },
        "Libellé de l'appartenance au champ de l’économie sociale et solidaire": {
          "type": "keyword"
        },
        "Libellé de la modalité de l'activité principale de l'entreprise": {
          "type": "keyword"
        },
        "Libellé de la région": {
          "type": "keyword"
        },
        "location": {
          "type": "geo_point"
        }
      }
    }
  },
  "aliases": {}
}