{
  "order": 0,
  "template": "sirene",
  "settings": {
    "index": {
      "number_of_shards": "1"
    }
  },
  "mappings": {
    "sirene": {
      "properties": {
        "SIREN": {
          "type": "keyword"
        },
        "NIC": {
          "type": "keyword"
        },
        "L1_NORMALISEE": {
          "type": "keyword"
        },
        "L2_NORMALISEE": {
          "type": "keyword"
        },
        "L3_NORMALISEE": {
          "type": "keyword"
        },
        "L4_NORMALISEE": {
          "type": "keyword"
        },
        "L5_NORMALISEE": {
          "type": "keyword"
        },
        "L6_NORMALISEE": {
          "type": "keyword"
        },
        "L7_NORMALISEE": {
          "type": "keyword"
        },
        "L1_DECLAREE": {
          "type": "keyword"
        },
        "L2_DECLAREE": {
          "type": "keyword"
        },
        "L3_DECLAREE": {
          "type": "keyword"
        },
        "L4_DECLAREE": {
          "type": "keyword"
        },
        "L5_DECLAREE": {
          "type": "keyword"
        },
        "L6_DECLAREE": {
          "type": "keyword"
        },
        "L7_DECLAREE": {
          "type": "keyword"
        },
        "NUMVOIE": {
          "type": "keyword"
        },
        "INDREP": {
          "type": "keyword"
        },
        "TYPVOIE": {
          "type": "keyword"
        },
        "LIBVOIE": {
          "type": "keyword"
        },
        "CODPOS": {
          "type": "keyword"
        },
        "CEDEX": {
          "type": "keyword"
        },
        "RPET": {
          "type": "keyword"
        },
        "LIBREG": {
          "type": "keyword"
        },
        "DEPET": {
          "type": "keyword"
        },
        "ARRONET": {
          "type": "keyword"
        },
        "CTONET": {
          "type": "keyword"
        },
        "COMET": {
          "type": "keyword"
        },
        "LIBCOM": {
          "type": "keyword"
        },
        "DU": {
          "type": "keyword"
        },
        "TU": {
          "type": "keyword"
        },
        "UU": {
          "type": "keyword"
        },
        "EPCI": {
          "type": "keyword"
        },
        "TCD": {
          "type": "keyword"
        },
        "ZEMET": {
          "type": "keyword"
        },
        "SIEGE": {
          "type": "keyword"
        },
        "ENSEIGNE": {
          "type": "keyword"
        },
        "IND_PUBLIPO": {
          "type": "keyword"
        },
        "DIFFCOM": {
          "type": "keyword"
        },
        "AMINTRET": {
          "type": "keyword"
        },
        "NATETAB": {
          "type": "keyword"
        },
        "LIBNATETAB": {
          "type": "keyword"
        },
        "APET700": {
          "type": "keyword"
        },
        "LIBAPET": {
          "type": "keyword"
        },
        "DAPET": {
          "type": "keyword"
        },
        "TEFET": {
          "type": "keyword"
        },
        "LIBTEFET": {
          "type": "keyword"
        },
        "EFETCENT": {
          "type": "keyword"
        },
        "DEFET": {
          "type": "keyword"
        },
        "ORIGINE": {
          "type": "keyword"
        },
        "DCRET": {
          "type": "keyword"
        },
        "DDEBACT": {
          "type": "keyword"
        },
        "ACTIVNAT": {
          "type": "keyword"
        },
        "LIEUACT": {
          "type": "keyword"
        },
        "ACTISURF": {
          "type": "keyword"
        },
        "SAISONAT": {
          "type": "keyword"
        },
        "MODET": {
          "type": "keyword"
        },
        "PRODET": {
          "type": "keyword"
        },
        "PRODPART": {
          "type": "keyword"
        },
        "AUXILT": {
          "type": "keyword"
        },
        "NOMEN_LONG": {
          "type": "keyword"
        },
        "SIGLE": {
          "type": "keyword"
        },
        "NOM": {
          "type": "keyword"
        },
        "PRENOM": {
          "type": "keyword"
        },
        "CIVILITE": {
          "type": "keyword"
        },
        "RNA": {
          "type": "keyword"
        },
        "NICSIEGE": {
          "type": "keyword"
        },
        "RPEN": {
          "type": "keyword"
        },
        "DEPCOMEN": {
          "type": "keyword"
        },
        "ADR_MAIL": {
          "type": "keyword"
        },
        "NJ": {
          "type": "keyword"
        },
        "LIBNJ": {
          "type": "keyword"
        },
        "APEN700": {
          "type": "keyword"
        },
        "LIBAPEN": {
          "type": "keyword"
        },
        "DAPEN": {
          "type": "keyword"
        },
        "APRM": {
          "type": "keyword"
        },
        "ESS": {
          "type": "keyword"
        },
        "DATEESS": {
          "type": "keyword"
        },
        "TEFEN": {
          "type": "keyword"
        },
        "LIBTEFEN": {
          "type": "keyword"
        },
        "EFENCENT": {
          "type": "keyword"
        },
        "DEFEN": {
          "type": "keyword"
        },
        "CATEGORIE": {
          "type": "keyword"
        },
        "DCREN": {
          "type": "keyword"
        },
        "AMINTREN": {
          "type": "keyword"
        },
        "MONOACT": {
          "type": "keyword"
        },
        "MODEN": {
          "type": "keyword"
        },
        "PRODEN": {
          "type": "keyword"
        },
        "ESAANN": {
          "type": "keyword"
        },
        "TCA": {
          "type": "keyword"
        },
        "ESAAPEN": {
          "type": "keyword"
        },
        "ESASEC1N": {
          "type": "keyword"
        },
        "ESASEC2N": {
          "type": "keyword"
        },
        "ESASEC3N": {
          "type": "keyword"
        },
        "ESASEC4N": {
          "type": "keyword"
        },
        "VMAJ": {
          "type": "keyword"
        },
        "VMAJ1": {
          "type": "keyword"
        },
        "VMAJ2": {
          "type": "keyword"
        },
        "VMAJ3": {
          "type": "keyword"
        },
        "DATEMAJ": {
          "type": "date"
        }
      }
    }
  },
  "aliases": {}
}